{% extends 'base.html' %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style ="font-family:Trebuchet MS;text-align:center">Log-in</h1>
<div style ="font-family:Trebuchet MS;text-align:center; color:#CE0000 ">
	{{message}}
</div>
<br>
<form method="post">
<div class="div_1" style="margin:auto; width:200px; height: 300px">
<input type="text" name="email"  placeholder="Email" style="width: 200px; height: 25px">
<input type="password" name="password" placeholder="Password" style="width: 200px; height: 25px">
<br><br>
 <button name ="login" type="submit" class="btn" style="background-color: #000000;width: 50px;height: 25px;color: #FFFFFF;"> Login </button>
<button name = "register"class="btn" style="background-color: #000000;width: 75px;height: 25px;color: #FFFFFF;"> Register</button></a>
</form> 


{% endblock %}